$main-color: #4A4A4A;
$main-font-color: #4A4A4A;
$selected-font-color: #f9f9f9;
$bar-color: #ccc;
$bar-color-selected: #4A4A4A;
body,html{
    height: 100%;
    color: $main-font-color;
}
.menu{
	position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 40%;
    h3{
    	font-size: 225%;
        font-weight: bold;
    }
    .row{
        margin-bottom: 0;
        margin-top: 0;
        .seperator{
            border-bottom: 1px solid;
            margin-left: 5%;
            margin-bottom: 2%;
            padding: 0;
            font-size: 110%;
        }
    }
    .sliderCont{
        margin-bottom: 2%;
        .slider{
            height: 20%;
        }    
    }
    .perspectives{
        display: none;
        height: 40px;
        .perspective{
            display: none;
            text-align: center;
            border: 2px solid $main-color;
            padding: 5% 0;
            &.selected{
                background-color: $main-font-color;
                color: $selected-font-color;
            }
        }
    }
    .bars{
        margin-top: 2%;
    }
   
    .statement{
        font-size: 115%;
        font-weight: bold;
        margin-bottom: 0;
        color: #777;
        .areaPart{
            color: #4CA1AF;
            font-weight: bold;
            font-size: 135%;
        }
        .timeVal{
            color: $main-color;
            font-size: 135%;
        }
    }
    .slider{
        .ticks {
          font: 10px sans-serif;
        }
        .track,
        .track-inset,
        .track-overlay {
          stroke-linecap: round;
        }

        .track {
          stroke: url(#gradient);
          stroke-opacity: 0.3;
          stroke-width: 10px;
          fill:none;
        }

        .track-inset {
          stroke-width: 8px;
          stroke: url(#gradient);
          fill:none;
        }

        .track-overlay {
          pointer-events: stroke;
          stroke-width: 50px;
          stroke: transparent;
          cursor: crosshair;
        }

        .handle {
          fill: #fff;
          stroke: #000;
          stroke-opacity: 0.5;
          stroke-width: 1.25px;
        }
    }
    .bar{
        rect{
            fill: $bar-color;
        }
        .barSelected{
            rect{
                fill: $bar-color-selected;
            }
        }
    }
}
.outer-cont{
	height: 100%;

	.inner-cont{
		height: 100%;

		#map{
			height: 100%;
			padding: 0;
		}
	}
	
}
