$main-color: #888;
$main-font-color: #222;
body,html{
    height: 100%;
    color: $main-font-color;
}
.mapFilters{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    .mapFilter{
        height: 20px;
        width: 71px;
        float: left;
        margin-right: 10px;
        border: 1px solid #444;
        text-align: center;
        padding: 5px;
        line-height: 9px;
        border-radius: 5px;
        &.selected{
            background-color: #0097A7;
            color: #fff; 
        }
    }
}
.menu{
	position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: #fff;*/
    border-radius: 1%;
    padding-left: 10%;
    padding: 0.5% 2%;
    width: 27%;
    padding-bottom: 20px;
    h3{
    	font-size: 275%;
    }
    svg{
        margin-top:20px;
    }
    .xLabel{
        border: 1px solid #ccc;
        height: 20px;
        width: 30px;
        text-align: center;
        border-radius: 2px;
        line-height: 20px;
        font-size: 75%;
        background-color: #eee;
        &.selected{
            background-color: #0097A7;
            color: #fff;
        }
    }
    .lineHead{
        width:100px;
    }
    .filters{
        .head{
            margin-bottom: 10px;
        }
        .filter{
            float: left;
            width: 45%;
            margin-right: 5%;
            height: 25px;
            .labelFilter{
                float: left;
                width: 80%;
                height: 100%;
                line-height: 25px;
                font-size: 90%;
            }
            .checkbox{
                float: left;
                width: 15%;
                height: 75%;
                line-height: 25px;
                margin: 0;
                border: 1px solid #ccc;
                margin-right: 5%;
                margin-top: 3%;
                background-color: #eee;ight: 25px;
            }
        }
    }
}
.outer-cont{
	height: 100%;

	.inner-cont{
		height: 100%;

		#map{
			height: 100%;
			padding: 0;
		}
	}
	
}
